# Python Basic Assignment No. 04

1. What exactly is [ ]?

Ans: [ ] is a empty list

 2. In a list of values stored in a variable called spam, how would you assign the value hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [1]:
spam = [2,4,6,8,10]
spam[2] = "hello"
spam

[2, 4, 'hello', 8, 10]

#Lets pretend the spam includes the list ['a', 'b','c','d'] for the next three queries.

3. What is the value of spam[int(int(3 * 2) / 11)]?

In [2]:
spam = ['a', 'b','c','d']
spam[int(int('3' * 2) / 11)]

'd'

4. What is the value of spam[-1]?

In [3]:
spam = ['a', 'b','c','d']
spam[-1]

'd'

5. What is the value of spam[:2]?

In [4]:
spam = ['a', 'b','c','d']
spam[:2]

['a', 'b']

#Let's pretend bacon has the list [3.14, 'cat' 11, 'cat' True] for the next three questions.

6. What is the value of bacon.index('cat')?

In [5]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.index('cat')

1

7. How does bacon.append(99) change the look of the list value in bacon?

In [7]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

In [8]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True]

9. What are the list concatenation and list replication operators?

Ans: * : List replication
     + : List Concatenation

10. What is difference between the list methods append() and insert()?

Ans:

*   append() Appends object to the end of the list
*   insert() Insert object at index

11. What are the two methods for removing items from a list?



1.   Pop
2.   Remove

12. Describe how list values and string values are identical.

Ans:

1.   Both lists and strings can be passed to len()
2.   Have indexes and slices
3.   Can be used in for loops
4.   Can be concatenated or replicated
5.   Can be used with the in and not in operators

13. What's the difference between tuples and lists?

Ans:

1.   Lists : are mutable - they can have values added, removed, or changed. lists use the square brackets,
2.   Tuples : are immutable; they cannot be changed at all. Tuples are written using parentheses

14. How do you type a tuple value that only contains the integer 42?

In [15]:
t = (42,)
print(t)
type(t)

(42,)

tuple

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [14]:
t1 = (2,3)
l1 = list(t1)
print(l1)
type(l1)

[2, 3]

list

In [16]:
l2 = [44,45]
t2 = tuple(l2)
print(t2)
type(t2)

(44, 45)

tuple

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Ans: They contain references to list values

17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans:
1. The copy.copy() function will do a shallow copy of a list,
2. The copy.deepcopy() function will do a deep copy of a list.